@font-face {
  font-family: "Paperlogy-6SemiBold";
  src: url(./assets/fonts/Paperlogy-6SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Paperlogy-6SemiBold", sans-serif;
}

.align_center {
  display: flex;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}
